body{ font-size: 10px; }
#cy{
	width: 1200px;
	height: 1200px;
	position: absolute;
	top: 25px;
	left: 25px;
	padding: 10px;
	border: 4px solid black;
}
#panel{
	width: 450px;
	height: 800px;
	position: absolute;
	top: 25px;
	left: 855px;
	padding: 10px;
	border: 4px solid black;
}
#panel_tbl{
	font-size: 14px;	
}
#panel_tree_0{
	width: 125px;
}
#panel_tree_1{
	width: 300px;
}
#target_node{
	font-weight: bold;	
}
